[submodule "RestService"]
	path = RestService
	url = git@github.com:Webservices02267/RestService.git
	branch = main
[submodule "TokenService"]
	path = TokenService
	url = git@github.com:Webservices02267/TokenService.git
	branch = main
[submodule "PaymentService"]
	path = PaymentService
	url = git@github.com:Webservices02267/PaymentMicroservice.git
	branch = master
[submodule "AccountService"]
	path = AccountService
	url = git@github.com:Webservices02267/AccountService.git
	branch = main
